body {
    margin: auto;
    background-color: #DCF2F1;
}

#kepvitamin{
    float: right;
    width: 201px;
    height: 201px;
}

.vitamin {
    margin: auto;
    background-color: #365486;
}

h1{
    color: #7FC7D9;
}

p{
    font-size: 25px;
}

.szoveg{
    display: flex;
    color: #DCF2F1;
}

.szoveg img{
    margin-right: 10px;
}

.bg-custom {
    background-color: #0F1035;
}